.btn {
  padding: 5px 11px;
  border-radius: 8px;
  outline: none;
  color: antiquewhite;
  background-color: #5c5858;
  border: 1px solid rgb(236, 166, 166);
  font-size: 26px;
  width: 100%;
}
.btn__main {
  padding: 5px 11px;
  border-radius: 8px;
  outline: none;
  color: antiquewhite;
  background-color: #5c5858;
  border: 10px solid rgb(236, 166, 166);
  font-size: 26px;
}

.deletItem {
  border: 2px solid red;
  color: red;
}
